
@using System.Collections
@model VLSMVersion_3.Models.VLSM_Model
@{
    ViewData["Title"] = "VlsmResult";
}
<link rel="stylesheet" href="css/StyleTable.css" />

<h1>VlsmResultNew</h1>

<hr />
@ViewData["FinalResult"]